.page-heading-two{
padding: 20px 0px;
background-color: #fcfcfc;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
margin-bottom: 30px;
}

.name-heading{
color:#ed5441;
font-family: "Open Sans", serif;
}