.reference-links{
    text-decoration: blink;
    color: #212529;
    margin-right: 5; 
    color: #ed5441
}

.body{
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
}

.reference-links:hover{
    text-decoration-line: none;
}